<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>My Music</h1>

<p><a href="logout">Logout</a></p>

<p>Search for Music</p>
<form method="POST" action="/search_artist">
<p>Enter the name of an artist: <input type="text" name="artist_name"><input \
type="submit" value="Find Albums by/featuring this Artist"></p>
</form>

<p>My Albums</p>
<textarea readonly name="saved_albums"
   rows="10" cols="50">{{albums}}</textarea>

<p>My Songs</p>
<textarea readonly name="saved_songs"
   rows="10" cols="50">{{songs}}</textarea>

<p>My Private Playlists</p>
<textarea readonly name="private_playlists"
   rows="10" cols="50">{{private_playlists}}</textarea>

<p>My Collaborative Playlists</p>
<textarea readonly name="collaborative_playlists"
   rows="10" cols="50">{{collaborative_playlists}}</textarea>

<p>Other Playlists I Can Edit</p>
<textarea readonly name="friend_playlists"
   rows="10" cols="50">{{friend_playlists}}</textarea>

</body>


</html>
