<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Friend's Music</h1>

<p><a href="logout">Logout</a></p>

<p> <a href="homepage">Back to My Music</a></p>

<p>Friend's Albums</p>
<textarea readonly name="saved_albums"
   rows="10" cols="50">{{albums}}</textarea>

<p>Friend's Songs</p>
<textarea readonly name="saved_songs"
   rows="10" cols="50">{{songs}}</textarea>

<p>Friend's Personal Playlists</p>
<textarea readonly name="public_playlists"
   rows="10" cols="50">{{personal_playlists}}</textarea>

<p>Friend's Collaborative Playlists</p>
<textarea readonly name="public_playlists"
   rows="10" cols="50">{{collaborative_playlists}}</textarea>


</body>


</html>
