<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>My Music</h1>

<p><a href="logout">Logout</a></p>

<p>Search for Music</p>
<form method="POST" action="/search_artist">
<p>Enter the name of an artist: <input type="text" name="artist_name"><input \
type="submit" value="Find Albums by/featuring this Artist"></p>
</form>

<form method="POST" action="/search_genre">
<p>Enter a genre: <input type="text" name="genre"><input \
type="submit" value="Find Albums & Songs of This Genre"></p>
</form>

<p>My Albums</p>
<textarea readonly name="saved_albums"
   rows="10" cols="50">{{albums}}</textarea>

<p>My Songs</p>
<textarea readonly name="saved_songs"
   rows="10" cols="50">{{songs}}</textarea>

<p>My Album Ratings</p>
<textarea readonly name="album_ratings"
   rows="10" cols="50">{{album_ratings}}</textarea>

<p>My Song Ratings</p>
<textarea readonly name="song_ratings"
   rows="10" cols="50">{{song_ratings}}</textarea>

<p>My Public Playlists</p>
<textarea readonly name="private_playlists"
   rows="10" cols="50">{{public_playlists}}</textarea>

<form method="POST" action="/show_playlist_songs">
<p>View Public Playlist: <input type="text" name="playlist_name"><input \
type="submit" value="Go"></p>
</form>

<form method="POST" action="/public_playlist_create">
<p>Create Public Playlist: <input type="text" name="playlist_name"><input \
type="submit" value="Create"></p>
</form>

<p>My Private Playlists</p>
<textarea readonly name="private_playlists"
   rows="10" cols="50">{{private_playlists}}</textarea>

<form method="POST" action="/show_playlist_songs">
<p>View Private Playlist: <input type="text" name="playlist_name"><input \
type="submit" value="Go"></p>
</form>

<form method="POST" action="/private_playlist_create">
<p>Create Private Playlist: <input type="text" name="playlist_name"><input \
type="submit" value="Create"></p>
</form>

<p>My Collaborative Playlists</p>
<textarea readonly name="collaborative_playlists"
   rows="10" cols="50">{{collaborative_playlists}}</textarea>

<form method="POST" action="/show_playlist_songs">
<p>View Collaborative Playlist: <input type="text" name="playlist_name"><input \
type="submit" value="Go"></p>
</form>

<form method="POST" action="/collab_playlist_create">
<p>Create Collaborative Playlist: <input type="text" name="playlist_name"><input \
type="submit" value="Create"></p>
</form>

<form method="POST" action="/add_collaborator">
<p>Add Collaborator to Playlist</p> 
<p>Playlist Name: <input type="text" name="playlist_name">User ID:<input type="text" name="userid"><input \
type="submit" value="Add"></p>
</form>

<p>Other Playlists I Can Edit</p>
<textarea readonly name="friend_playlists"
   rows="10" cols="50">{{friend_playlists}}</textarea>

<form method="POST" action="/show_playlist_songs">
<p>View Other Playlist: <input type="text" name="playlist_name"><input \
type="submit" value="Go"></p>
</form>

<p>Users I Have Added
<textarea readonly name="are_friends"
    rows="10" value="50">{{friends}}</textarea>
Users Who Have Added Me
<textarea readonly name="added_me"
    rows="10" value="50">{{added_me}}</textarea>
</p>
<form method="POST" action="/add_new_friend">
<p>Add New Friend by Unique User ID: <input type="text" name="friend_id"><input \
type="submit" value="Add"></p>
</form>

<p>View Friend's Music</p>
<form method="POST" action="/view_friend">
<p>Enter the ID of a Friend: <input type="text" name="friend_id"><input \
type="submit" value="View"></p>
</form>

</body>


</html>
